<div class="social-icons">
    <a href="https://thankyouthankyou.bandcamp.com/" aria-label="Bandcamp" class="social-icon">
        <i class="fab fa-bandcamp fa-lg"></i>
    </a>
    <a href="https://tytyindustries.substack.com/" aria-label="Substack" class="social-icon">
        <i class="fas fa-newspaper fa-lg"></i>
    </a>
    <a href="https://www.instagram.com/thankyouthankyouband" aria-label="Instagram" class="social-icon">
        <i class="fab fa-instagram fa-lg"></i>
    </a>
    <a href="https://open.spotify.com/artist/4GFoAmLzPM4V8F8HJSVaYA" aria-label="Spotify" class="social-icon">
        <i class="fab fa-spotify fa-lg"></i>
    </a>
    <a href="https://music.apple.com/us/artist/thank-you-thank-you/1536629916" aria-label="Apple Music" class="social-icon">
        <i class="fab fa-apple fa-lg"></i>
    </a>
    <a href="https://x.com/tytyband" aria-label="X (Twitter)" class="social-icon">
        <i class="fab fa-x-twitter fa-lg"></i>
    </a>
    <a href="https://www.youtube.com/@tytymaxwell" aria-label="YouTube" class="social-icon">
        <i class="fab fa-youtube fa-lg"></i>
    </a>
</div>

